# dependencies
cache
artifacts
node_modules
npm-debug.log*
yarn-error.log
yarn.lock

build

# misc
.DS_Store
*/.DS_Store
.env
.idea/
.vscode/
.mypy_cache/

# testing
/coverage
local
# Logs
logs
*.log

# testing
# /test

# umi
.umi
.umi-production

dist
