.transactions {
  width: 882px;
  background: rgba(255,255,255,1);
  box-shadow: 0px 0px 35px 0px rgba(94,85,126,0.15);
  border-radius: 6px;
  margin: 18px auto 50px;
  overflow: hidden;

  h2 {
    color: #434976;
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0 10px 22px;
  }

  &__null {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

    section {
      text-align: center;
    }
    img {
      width: 42px;
      display: block;
      margin: 0 auto;
    }
    span {
      display: block;
      margin-top: 10px;
      color: #6D6B85;
      font-size: 14px;
    }
  }

  &__box {
    max-height: 290px;
    overflow-y: scroll;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0;
    height: 70px;
    margin-left: 12px;

    &_left {
      width: 50px;
      height: 50px;
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 35px;
        bottom: -28px;
        width: 0;
        border-left: 1px dashed #B8BBCD;
      }
    }

    &_icon {
      width: 28px;
    }

    &_icon_loading {
      animation: icon-loading .8s linear infinite;
      width: 28px;
    }

    &_right {
      margin-left: 15px;

      p {
        margin: 0;
        color: #A4A7BE;

        a {
          color: #675CFF;
          font-size: 12px;
          font-style: italic;
          font-weight: 500;
        }
      }

      label {
        color: #252152;
        font-weight: 400;
      }
    }

    &:last-child {
      div {
        &::after {
          display: none;
        }
      }
    }
  }

}

@-webkit-keyframes icon-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes icon-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .transactions {
    width: 100%;
    margin: 18px 0;
    h2 {
      font-size: 15px;
      margin: 15px 0 15px 12px;
    }

    &__item {
      height: 56px;
      margin: 0;

      &_icon {
        width: 21px;
      }

      &_left {
        font-size: 12px;

        &::after {
          content: "";
          position: absolute;
          display: block;
          height: 25px;
          bottom: -16px;
          width: 0;
          border-left: 1px dashed #B8BBCD;
        }
      }

      &_right {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
