html, body, #root {
  /* height: 100%; */
}
body {
  margin: 0;
  background: #f9f8ff;
}
body,div,section,p {
  margin: 0;
  padding: 0;
}
body .ant-tabs-nav-scroll .ant-tabs-nav {
  width: 100%;
  background: #eeebf9;
  height: 56px;
}
body .ant-tabs-tab {
  width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
body .ant-tabs-bar {
  margin: 0;
}

body .loader {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  max-width: 25%;
  height: 200px;
  align-items: center;
  justify-content: center;
  perspective: 500px;
  position: absolute;
  width: 105px;
  left: calc(50% - 52px);
  top: calc(50% - 52px);
  /* animation: fadeIn 2s; */
  text-align: center;
}

#root {
  position: relative;
  z-index: 0;
  height: inherit;
  background: #f9f8ff;
}

.ball-pulse > div:nth-child(1) {
  -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(2) {
  -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(3) {
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div {
  background-color: #675CFF;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@media screen and (max-width: 768px) {
  body .ant-tabs-nav-scroll .ant-tabs-nav {
    width: 100%;
    background: #eeebf9;
    height: 45px;
  }
  body .ant-tabs-tab {
    width: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
}
